<nav class="nav-general bg-white">
  <div class="ml">
    <a href="/" class="hamb fleft"><img src= "<%= image_path("hamburguer.png")%>" alt="Hamburguer menu" class="hamb"></a>
  </div>
  <div class="centrado dis-block ">
    <a href="/" class="">
      <img src= "<%= image_path("logo_roommate.png")%>" alt="Logo Hotel" class="logo " >
    </a>
  </div>

  <div class="menu_right">
    <%= link_to 'SIGNUP', new_user_path, class: "btn btn_box  btn_intro fright fri2" %>
    <%= link_to 'LOGIN', new_user_path, class: "btn btn_box btn_intro fright" %>
  </div>

</nav>

<main>
  <section class="match">
    <div class= "bg_img_match">

    </div>
  </section>
</main>