<nav class="nav-general">
  <div class="ml">
    <button type="button" class="fle butt"><img src="hamburguer.png" alt="Hamburguer menu" class="hamb"></button>
  </div>

  <div class="centrado">
    <a href="/" class="logo">
      <img src="logo_roommate.png" alt="Logo Hotel" class="logo" >
    </a>
  </div>

  <div class="menu_right">
    <a href="http://localhost:3000/users/new?" class="links fri fri2">SIGNUP</a>
    <a href="http://localhost:3000/users/new?" class=" links fri">LOGIN</a>
  </div>
</nav>

<main class="main_my">
  <section class="intro">
    <div class="circle vcenter">
      <a href="http://localhost:3000/users/new?" class="links butt scroll vcenter">FIND YOUR PERFECT ROOM</a>
      <a href="http://localhost:3000/flats/new?" class="links fri scroll vcenter">FIND YOUR PERFECT GUEST</a>
    </div>
  </section>
  <p class= "scroll">SCROLL TO LEARN HOW IT WORKS </br>v</p>
</main>