<nav class="nav-general">
  <div class="ml">
    <button type="button" class="fle"><img src="http://i.kinja-img.com/gawker-media/image/upload/s--k3hGAUMC--/c_fit,fl_progressive,q_80,w_636/659288645130960810.jpg" alt="Hamburguer menu" class="hamb"></button>
  </div>

  <h1><a href="/" class="logo"><img src="/images/logo.png" alt="Logo Hotel" ></a></h1>

  <div class="mr">
    <button type="button" class="fri fri2">SIGNUP</button>
    <button type="button" class="fri">LOGIN</button>
  </div>
</nav>

<main class="fondo">
  <section class="home">
  
  </section>

</main>