<nav class="nav-general">
  <div class="ml">
    <a href="/" class="hamb fleft"><img src="assets/hamburguer.png" alt="Hamburguer menu" class="hamb"></a>
  </div>
  <div class="centrado">
    <a href="/" class="">
      <img src="assets/logo_roommate.png" alt="Logo Hotel" class="logo" >
    </a>
  </div>

  <div class="menu_right">
    <%= link_to 'SIGNUP', new_user_path, class: "btn btn_box fright fri2" %>
    <%= link_to 'LOGIN', new_user_path, class: "btn btn_box fright" %>
  </div>
</nav>

<main>
  <section class="intro intro_bg">
    <div class="center_intro">
      <img src="assets/logo_roommate.png" alt="Logo Hotel" class="logo" >
      <p class="subtitle">A new way to find an apartment that perfectly matches with you!</p>
      <div class="m_auto intro_btn">
        <%= link_to 'FIND YOUR PERFECT ROOM', match_show_path, class: "btn fleft" %>
        <%= link_to 'FIND YOUR PERFECT RENTER', match_show_path, class: "btn fleft m_left" %>
      </div>
    </div>
    <p class= "scroll">SCROLL TO LEARN HOW IT WORKS </br>V</p>
  </section>

  <section class="how_works">
    <p class= "vcenter"> HOW IT WORKS </p>
  </section>
</main>