/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

.padding0{
  padding: 0;
}

.dis-block{
	display: block;
}

.bg-white{
	background: white;
}

.mb{
	margin-bottom: 20px;
}

.mb_10{
	margin-bottom: 6px;
}

.width_202{
	min-width: 212px;
}

.visible{
	display: block;
}

.txt_center{
	text-align: center;
}

ul, li {
 list-style-type: none;
}

.btn{
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 0.8em;
	color: black;
	background-color: transparent;
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 0.8em;
	&:hover{
		color: #A16772;
		text-decoration: none;
		border: 1px solid white;
 		background-color: $primary-color;
  }
}

.btn_box{
	border-radius: 0px;
}

.btn_intro{
	border: 1px solid black;
}

.btn_form{
	color: white;
	background-color: $success-color;
	border: 1px solid $success-color;
	&:hover{
		color: white;
		background-color: $info-color;
		border: 1px solid $info-color;
  }
}

p{
	color: black;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.bg_create{
  color: white;
  border: 1px solid white;
  &:hover{
    color: $secondary-color;
    background-color: white;
  }
}

.padding_sides{
  padding: 10px 28px;
}
