@import "variables";

.rooms_list{
  border: 1px solid rgba(50, 58, 69, 0.5);
  border-radius: 5px;
}

.width_180{
  min-width: 150px;
  text-align: center;
}

.max_width{
  max-width: 350px;
  min-height: 350px;
}

.margin_10{
  margin: 10px;
}

.txt_room{
  text-align: center;
}

.m_room{
  margin-left: 18px;
}
