//We use these as default colors throughout
$primary-color: rgba(255, 51, 102, 1);
$secondary-color: rgba(50, 58, 69, 1);
$alert-color: rgba(#f04124, 0.9);
$success-color: rgba(#43AC6A, 0.9);
$warning-color: rgba(#f08a24, 0.9);
$info-color: rgba(210, 210, 210, 0.9);

$link-secondary-border: rgb(61, 156, 204);
$link-secondary-color: rgb(225, 232, 236);

//Help classes
$default-float: left;
$opposite-direction: right;

$font-family: Overlook, 'Helvetica Neue', Arial, sans-serif;
$text-color: #727175;
